button {
    font-size: 2.75vh;
    transition: background-color 0.25s, color 0.15s, border-radius 0.25s;
    background-color: rgb(223, 223, 223);
    border-radius: 0.5vh;
}

button:hover {
    background-color: rgb(82, 82, 82);
    color: white;
    cursor: pointer;
    border-radius: 0vh;
}

label {
    font-size: 2.5vh;
    user-select: none;
}

input {
    font-size: 2.75vh;
    height: 100%;
    border: 0.25vh solid black;
    border-radius: 0.5vh;
    cursor: pointer;
}

input:focus {
    background-color: rgb(199, 199, 199);
}

input[type=file]::file-selector-button {
    color: black;
    border-color: #454622;
    transition: color 0.15s, background-color 0.0s;
    cursor: pointer;
    border: none;
}

input[type=file]:hover::file-selector-button {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
    border: none;
}

video {
    width: 75vw;
}

#video-trim-container {
    display: none;
    flex-direction: column;
    width: fit-content;
}

#fake-video-upload {
    display: none;
}

#status-container {
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 5vh;
    width: 25vw;
    padding: 2vh;
    flex-direction: column;
    display: none;
    border-radius: 1vh;
    user-select: none;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}





/* Slider styles */

section.range-slider {
    position: relative;
    width: 100%;
    height: 5vh;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 2vh;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    scale: 2;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
    scale: 2;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(80, 80, 80);
    border-radius: 4vh;
}

/* For Firefox */
input[type="range"]::-moz-range-track {
    background: rgb(80, 80, 80);
    border-radius: 4vh;
}

input {
    accent-color: orange;
}

span.rangeValues {
    font-size: 2vh;
    font-weight: bold;
    user-select: none;
}